/* Ensure body and html take up full viewport height */
body, html {
    height: 120%;
    margin: 0;
    font-family: Arial, sans-serif;
    
    /* Centering any child content (like the form) */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* Basic styling for form container */
  form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    
    /* Styling for form container appearance */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(249, 197, 225);
    
    /* Fixed width for form */
    width: 300px;
  }
  
  /* Basic styling for label containers */
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  /* Styling for various input types */
  input[type="text"],
  input[type="number"],
  input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 10px;
  }
  
  
  /* General button styling */
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    /* Adjust width for buttons inside the button-group */
    width: 48%; 
  }
  
  /* Styling for submit button */
  button[type="submit"] {
    background-color: #4f6679;
    color: white;
  }
  
  /* Hover effect for submit button */
  button[type="submit"]:hover {
    background-color: #3a4d65;
  }
  
  /* Styling for a generic button type */
  button[type="button"] {
    background-color: #e0e0e0;
    color: #333;
  }
  
  /* Hover effect for a generic button type */
  button[type="button"]:hover {
    background-color: #c7c7c7;
  }

  
  /* Style to align two buttons next to each other with a space in between */
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  